.Glowna {
    text-align: center;
}
.background {
    background-image: url('C:\Users\zolte\OneDrive\Pulpit\fibo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  button {
    background-color: rgb(15, 16, 15);
  color: white;
  padding: 10px 20px;
  border: 5px solid black;
  border-radius: 5px;
  cursor: pointer;
  }

  .Studs {
    text-transform: uppercase;
    
  }